
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('cataratas.jpeg'); /* Cambia 'cataratas.jpeg' por la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    opacity: 0.9; /* Ajustar la opacidad de la imagen de fondo */
}

#page-container,
#page-containerf,#page-containerD {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.borde {
    border-radius: 20px; /* Borde redondeado */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Sombra blanca */
    padding: 20px 20px 20px 20px; /* Reducir el espacio interior en la parte inferior */
    width: 80%; /* Ancho del borde */
    max-width: 400px; /* Ancho máximo del borde */
    text-align: center; /* Alinear el contenido al centro */
    margin: auto; /* Centrar el borde horizontalmente */
    margin-top: 10px; /* Espacio superior */
    position: relative; /* Posición relativa para superponer */
    z-index: 1; /* Capa superior */
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.8) 25%, rgba(0, 255, 0, 0.8) 50%, rgba(0, 0, 255, 0.8) 75%);
    background-size: 400% 400%;
    animation: giraBrillos 3s linear infinite alternate; /* Velocidad de giro */
}

@keyframes giraBrillos {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes giraBrillos {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
   
}
.custom-container {
    text-align: center;
    margin-top: 50px; /* Ajusta este valor según sea necesario para el espaciado deseado */
}

.custom-container h1 {
    font-size: 36px; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
}
#difficulty {
    font-size: 12px;
    padding: 8px 20px; /* Ajuste del tamaño del padding horizontal */
    border: 2px solid #fff; /* Borde blanco */
    background: linear-gradient(to right, #3498db, #7fb3d5); /* Degradado de azul a celeste */
    color: #fff; /* Texto blanco */
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 220px; /* Ajuste del ancho del select */
}
#difficulty option {
    background: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}



#cambiar, #volver-jugar {
    font-size: 14px;
    padding: 8px 16px;
    margin: 0 10px;
    border: none;
    background: linear-gradient(to right, #3498db, #7fb3d5); /* Degradado de azul a celeste */
    color: #fff; /* Texto blanco */
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, filter 0.3s ease; /* Añadido filter a la transición */
    filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.5)); /* Sombra blanca aplicada por defecto */
    
}

#cambiar:hover, #volver-jugar:hover {
    background-color: #2c0eaf; /* Azul más oscuro al pasar el ratón */
    transform: scale(1.10); /* Aumenta el tamaño del botón al hacer hover */
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.4)); /* Sombra más pronunciada al hacer hover */
}


#cambiar:hover, #volver-jugar:hover {
    background-color: #2c0eaf; /* Azul más oscuro al pasar el ratón */
    transform: scale(1.05); /* Aumenta el tamaño del botón al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombreado al hacer hover */
}



@media screen and (max-width: 768px) {
    #difficulty {
        width: 80%;
    }
}



#buttonm {
    background-color: #4682B4; /* Color de

.custom-buttons {
    display: flex;
    justify-content: center; /* Centrar los botones horizontalmente */
    align-items: center; /* Centrar los botones verticalmente */
    margin-top: 10px; /* Espacio entre el título y los botones */
}

.custom-button {
    margin-top: 10px;
    margin-right: 10px; /* Espacio entre los botones */
    padding: 6px 12px; /* Reducir el tamaño de los botones */
    font-size: 14px; /* Reducir el tamaño de la fuente */
    background-color: #FF6347; /* Color de fondo para el botón "facil" */
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none !important;
}

#buttonm {
    background-color: #4682B4; /* Color de fondo para el botón "medio" */
}





#start-buttonD,
#start-buttonF,
#start-button,
#start-button-modal {
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 8px 20px; /* Reducir el tamaño del botón */
    font-size: 16px; /* Reducir el tamaño de la fuente */
    background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 165, 0, 1) 100%);
    color: white;
    border: none; /* Eliminar el borde */
    border-radius: 5px; /* Agregar bordes redondeados */
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Aumentar la sombra */
    text-decoration: none !important; /* Eliminar el subrayado */
    display: block; /* Convertir en bloque para que funcione margin: auto; */
    margin: 5px auto; /* Centrar horizontalmente */
    text-align: center; /* Centrar texto dentro del botón */
    animation: blink 1s infinite; /* Aplicar la animación de parpadeo */
}


#start-button:hover {
    background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 165, 0, 0.8) 100%); /* Cambiar el color de fondo en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Aumentar la sombra en hover */
    transform: scale(1.05); /* Agrandar ligeramente en hover */
}
#start-button-modal:hover {
    background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 165, 0, 0.8) 100%); /* Cambiar el color de fondo en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Aumentar la sombra en hover */
    transform: scale(1.05) !important; /* Agrandar ligeramente en hover */
}




/* Media query para dispositivos con un ancho máximo de 600px (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 600px) {
    
    #start-button {
        padding: 8px 20px; /* Reducir el padding para hacer el botón más pequeño en dispositivos móviles */
        font-size: 16px; /* Reducir el tamaño de la fuente */
    }
}


.puzzle-container{
    width: 80vw;
    max-width: 400px;
    height: 80vw;
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    background-color: #f0f0f0;
border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efecto de sombra blanco */
    overflow: hidden;
    margin: auto; /* Centrar horizontalmente */
}
.puzzle-containerF {
    width: 80vw;
    max-width: 400px;
    height: 80vw;
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas para 4 piezas */
    grid-template-rows: repeat(2, 1fr); /* 2 filas para 4 piezas */
    gap: 1px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efecto de sombra blanco */
    overflow: hidden;
    margin: auto; /* Centrar horizontalmente */
}
.puzzle-containerD {
    width: 80vw;
    max-width: 400px;
    height: 80vw;
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas para 25 piezas */
    grid-template-rows: repeat(5, 1fr); /* 5 filas para 25 piezas */
    gap: 1px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efecto de sombra blanco */
    overflow: hidden;
    margin: auto; /* Centrar horizontalmente */
}





.puzzle-pieceD,
.puzzle-piece,
.puzzle-pieceF {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    background-image: url('Designer\ -\ 2024-04-24T235731.459.jpeg'); /* Cambia 'imagen_puzzle.jpg' por la ruta de tu imagen de rompecabezas */
    background-size: 300% 300%;
    transition: background-position 0.5s ease;
    cursor: pointer;
    
}
/* Estilo común para todas las piezas */
.puzzle-piece {
    width: calc(100% - 0px); /* Ajustar el tamaño para incluir el ancho del borde */
    height: calc(100% - 0px); /* Ajustar el tamaño para incluir el ancho del borde */
    background-size: 300% 300%;
    transition: background-position 0.5s ease, transform 0.2s ease; /* Agregar transición para transformar */
    cursor: pointer;
}

/* Estilos específicos para cada pieza */
.puzzle-piece0 {
    background-image: url('Designer\ -\ 2024-04-20T212309.426.jpeg');
}
.puzzle-piece1 {
    background-image: url('Designer\ -\ 2024-04-20T212434.381.jpeg');
}

.puzzle-piece2 {
    background-image: url('Designer\ -\ 2024-04-22T225625.190.jpeg');
}

.puzzle-piece3 {
    background-image: url('Designer\ -\ 2024-04-21T152338.062.jpeg');
}

.puzzle-piece4 {
    background-image: url('Designer\ -\ 2024-04-22T224345.593.jpeg');
}

.puzzle-piece5 {
    background-image: url('Designer\ -\ 2024-04-22T225030.200.jpeg');
}

.puzzle-piece6 {
    background-image: url('Designer\ -\ 2024-04-22T231153.837.jpeg');
}
.puzzle-piece7 {
    background-image: url('Designer\ -\ 2024-04-25T001449.308.jpeg');
}
.puzzle-piece8 {
    background-image: url('Designer\ -\ 2024-04-25T000859.564.jpeg');
}

/* Continuar con las clases puzzle-piece7, puzzle-piece8, etc. para las demás piezas */

.puzzle-pieceD.selected,
.puzzle-piece6.selected,
.puzzle-piece5.selected,
.puzzle-piece4.selected,
.puzzle-piece3.selected,
.puzzle-piece2.selected,
.puzzle-piece1.selected,
.puzzle-piece.selected {
    border: 2px solid #ffffff; /* Borde verde cuando está seleccionado */
    box-shadow: 0 0 10px 2px rgba(141, 232, 123, 0.7); /* Efecto de sombra difuminada verde manzana brillante */
    transform: scale(1.1); /* Escalar la pieza seleccionada */
}


#page-container h1 {
    font-size: 3vw; /* Tamaño de fuente basado en el ancho de la ventana */
    font-weight: bold; /* Texto en negrita */
    color: #FFFFFF; /* Color del texto blanco */
    text-shadow: 0.5vw 0.5vw 1vw #000000; /* Sombra de texto negra */
    margin-top: 10px; /* Aumentar el espacio superior */
margin-bottom: 2px;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

#message-container {
    margin-top: 2vh; /* Aumentar el espacio superior */
    font-size: 3vw; /* Tamaño de fuente basado en el ancho de la ventana */
    font-weight: bold;
    text-align: center;
    padding: 2vh;
    border-radius: 2vw; /* Bordes redondeados basados en el ancho de la ventana */
    color: #ffeb3b; /* Color de texto llamativo */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Sombra de texto */
    animation: pulse 2s infinite alternate; /* Animación de pulsación */

}



@media screen and (max-width: 768px) {
    /* Estilos adicionales para pantallas más pequeñas */
    #page-container h1 {
        font-size: 8vw; /* Tamaño de fuente más grande para pantallas pequeñas */
        text-shadow: 1vw 1vw 2vw #000000; /* Sombra de texto más grande para pantallas pequeñas */
    }

    #message-container {
        font-size: 4vw; /* Tamaño de fuente más grande para pantallas pequeñas */
        padding: 3vw; /* Espaciado interno más grande para pantallas pequeñas */
        border-radius: 3vw; /* Bordes redondeados más grandes para pantallas pequeñas */
    }
}


  .selected {
        border: 2px solid white;
      
      
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.7);
  }
  
  @keyframes blink {
    0% { opacity: 0; } /* Invisible al principio */
    50% { opacity: 1; } /* Visible a la mitad del tiempo */
    100% { opacity: 0; } /* Invisible al final */
}

/* Estilos para el contenedor del modal */
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('cataratas.jpeg'); /* Cambia 'cataratas.jpeg' por la ruta de tu imagen de fondo */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    z-index: 9999;
}
#modal-content ul,
#modal-content ol {
    list-style: none; /* Elimina las viñetas */
    padding: 0; /* Elimina el padding */
}

/* Estilos para el contenido del modal */
#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.95); /* Fondo semi-transparente blanco */
    padding: 40px; /* Aumento del espacio interno */
    border-radius: 20px; /* Borde redondeado */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    text-align: center; /* Centrar el contenido del modal */
    font-family: 'Retro Gaming', sans-serif;

    color: #333; /* Color de texto */
font-size: 20px; /* Tamaño de la fuente */
    line-height: 1.5; /* Altura de línea */
}
/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    #modal-content {
        
        font-size: 13px; /* Reducción del tamaño de la fuente para que quepa mejor en pantallas móviles */
        
    }
    #modal-content {
        width: 80%; /* Ancho del modal al 80% del ancho de la pantalla */
        height: 80%; /* Altura del modal al 80% de la altura de la pantalla */
       
        padding: 20px; /* Ajustar el padding del modal para mantener el espacio interior */
        overflow: auto; /* Añadir desplazamiento si el contenido es más grande que el modal */
    }
}

  
  /* Animación de giro de colores */
  @keyframes giraBrillos {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
