
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('cataratas.jpeg'); /* Cambia 'cataratas.jpeg' por la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    opacity: 0.9; /* Ajustar la opacidad de la imagen de fondo */
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.borde {
    border: 10px solid #2e2d2d; /* Borde blanco */
    border-radius: 20px; /* Borde redondeado */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 30px; /* Espaciado interior */
    background-color: #313030; /* Color de fondo */
    width: 80%; /* Ancho del borde */
    max-width: 400px; /* Ancho máximo del borde */
    text-align: center; /* Alinear el contenido al centro */
    margin: auto; /* Centrar el borde horizontalmente */
    margin-top: 10px; /* Espacio superior */
    position: relative; /* Posición relativa para superponer */
    z-index: 1; /* Capa superior */
}

#start-button {
    margin-bottom: 0px; /* Espacio inferior */
    margin-top: 5px; /* Espacio superior */
    padding: 10px 25px; /* Aumentar el padding para hacer el botón más grande */
    font-size: 20px; /* Aumentar el tamaño de la fuente */
    background-color: #4CAF50;
    color: white;
    border: 2px solid #000; /* Añadir un borde */
    border-radius: 8px; /* Añadir bordes redondeados */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
    font-weight: bold; /* Añadir negrita al texto */
    font-family: 'Arial', sans-serif; /* Cambiar la fuente */
    letter-spacing: 1px; /* Añadir espaciado entre letras */
}

#start-button:hover {
    background-color: #45a049;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); /* Aumentar tamaño al 110% */
}


.puzzle-container {
    width: 80vw;
    max-width: 400px;
    height: 80vw;
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efecto de sombra blanco */
    overflow: hidden;
    margin: auto; /* Centrar horizontalmente */
}



.puzzle-piece {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    background-image: url('Designer\ -\ 2024-04-20T211548.297.jpeg'); /* Cambia 'imagen_puzzle.jpg' por la ruta de tu imagen de rompecabezas */
    background-size: 300% 300%;
    transition: background-position 0.5s ease;
    cursor: pointer;
}
.puzzle-piece1 {
    width: calc(100% -  0px); /* Ajustar el tamaño para incluir el ancho del borde */
    height: calc(100% -  0px); /* Ajustar el tamaño para incluir el ancho del borde */
    background-image: url('Designer\ -\ 2024-04-20T212434.381.jpeg'); /* Cambia 'imagen_puzzle.jpg' por la ruta de tu imagen de rompecabezas */
    background-size: 300% 300%;
    transition: background-position 0.5s ease, transform 0.2s ease; /* Agregar transición para transformar */
    cursor: pointer;
}
.puzzle-piece2 {
    width: calc(100% -  0px); /* Ajustar el tamaño para incluir el ancho del borde */
    height: calc(100% -  0px); /* Ajustar el tamaño para incluir el ancho del borde */
    background-image: url('Designer\ -\ 2024-04-20T211540.987.jpeg'); /* Cambia 'imagen_puzzle.jpg' por la ruta de tu imagen de rompecabezas */
    background-size: 300% 300%;
    transition: background-position 0.5s ease, transform 0.2s ease; /* Agregar transición para transformar */
    cursor: pointer;
}
.puzzle-piece3 {
    width: calc(100% - 0px); /* Ajustar el tamaño para incluir el ancho del borde */
    height: calc(100% - 0px); /* Ajustar el tamaño para incluir el ancho del borde */
    background-image: url('Designer\ -\ 2024-04-21T152338.062.jpeg'); /* Cambia 'imagen_puzzle.jpg' por la ruta de tu imagen de rompecabezas */
    background-size: 300% 300%;
    transition: background-position 0.5s ease, transform 0.2s ease; /* Agregar transición para transformar */
    cursor: pointer;
}
.puzzle-piece3.selected,
.puzzle-piece2.selected,
.puzzle-piece1.selected,
.puzzle-piece.selected {
    border: 2px solid #03fa03; /* Borde verde cuando está seleccionado */
    box-shadow: 0 0 10px 2px rgba(141, 232, 123, 0.7); /* Efecto de sombra difuminada verde manzana brillante */
    transform: scale(1.1); /* Escalar la pieza seleccionada */
}


#page-container h1 {
    font-size: 3vw; /* Tamaño de fuente basado en el ancho de la ventana */
    font-weight: bold; /* Texto en negrita */
    color: #FFFFFF; /* Color del texto blanco */
    text-shadow: 0.5vw 0.5vw 1vw #000000; /* Sombra de texto negra */
    margin-top: 10px; /* Aumentar el espacio superior */
margin-bottom: 2px;
}

#message-container {
    margin-top: 2vh; /* Aumentar el espacio superior */
    font-size: 3vw; /* Tamaño de fuente basado en el ancho de la ventana */
    font-weight: bold;
    text-align: center;
    padding: 2vh;
    border-radius: 2vw; /* Bordes redondeados basados en el ancho de la ventana */
    color: white;

    transform: scale(0.9);
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}

@media screen and (max-width: 768px) {
    /* Estilos adicionales para pantallas más pequeñas */
    #page-container h1 {
        font-size: 8vw; /* Tamaño de fuente más grande para pantallas pequeñas */
        text-shadow: 1vw 1vw 2vw #000000; /* Sombra de texto más grande para pantallas pequeñas */
    }

    #message-container {
        font-size: 4vw; /* Tamaño de fuente más grande para pantallas pequeñas */
        padding: 3vw; /* Espaciado interno más grande para pantallas pequeñas */
        border-radius: 3vw; /* Bordes redondeados más grandes para pantallas pequeñas */
    }
}


  .selected {
        border: 2px solid white;
      
      
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.7);
  }
  
  @keyframes blink {
    0% { opacity: 0; } /* Invisible al principio */
    50% { opacity: 1; } /* Visible a la mitad del tiempo */
    100% { opacity: 0; } /* Invisible al final */
}

#next-button {
    float: right; /* Alinear a la derecha */
    padding: 6px 12px; /* Tamaño más pequeño */
    font-size: 15px; /* Tamaño de fuente más pequeño */
    background-color: #dddd09; /* Amarillo */
    color: rgb(0, 0, 0);
    border: 2px solid #050404; /* Borde de 2px sólido de color gris oscuro */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer;
    margin-top: 20px; /* Espacio superior */
    animation: blink 1s infinite; /* Aplicar la animación de parpadeo */
}
#next-button:hover {
    background-color: #FF0000; /* Cambio de color al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento de tamaño al pasar el mouse */
}

#next-button:focus {
    outline: none; /* Eliminar el contorno al hacer foco */
}

#anterior {
    float: left; /* Alinear a la izquierda */
    padding: 6px 12px; /* Tamaño más pequeño */
    font-size: 15px; /* Tamaño de fuente más pequeño */
    background-color: #dddd09; /* Amarillo */
    color: rgb(0, 0, 0);
    border: 2px solid #050404; /* Borde de 2px sólido de color gris oscuro */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer;
    margin-top: 20px; /* Espacio superior */
    animation: blink 1s infinite; /* Aplicar la animación de parpadeo */
}

#anterior {
    background-color: #FF0000; /* Cambio de color al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento de tamaño al pasar el mouse */
}

#anterior {
    outline: none; /* Eliminar el contorno al hacer foco */
}