
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('cataratas.jpeg'); /* Cambia 'cataratas.jpeg' por la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    opacity: 0.9; /* Ajustar la opacidad de la imagen de fondo */
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.borde {
    border-radius: 20px; /* Borde redondeado */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Sombra blanca */
    padding: 20px 20px 20px 20px; /* Reducir el espacio interior en la parte inferior */
    width: 80%; /* Ancho del borde */
    max-width: 400px; /* Ancho máximo del borde */
    text-align: center; /* Alinear el contenido al centro */
    margin: auto; /* Centrar el borde horizontalmente */
    margin-top: 10px; /* Espacio superior */
    position: relative; /* Posición relativa para superponer */
    z-index: 1; /* Capa superior */
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.8) 25%, rgba(0, 255, 0, 0.8) 50%, rgba(0, 0, 255, 0.8) 75%);
    background-size: 400% 400%;
    animation: giraBrillos 3s linear infinite alternate; /* Velocidad de giro */
}

@keyframes giraBrillos {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes giraBrillos {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
#start-button , 
#start-button-modal{
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 8px 20px; /* Reducir el tamaño del botón */
    font-size: 16px; /* Reducir el tamaño de la fuente */
    background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 165, 0, 1) 100%);
    color: white;
    border: none; /* Eliminar el borde */
    border-radius: 5px; /* Agregar bordes redondeados */
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Aumentar la sombra */
    
}

#start-button:hover {
    background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 165, 0, 0.8) 100%); /* Cambiar el color de fondo en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Aumentar la sombra en hover */
}



/* Media query para dispositivos con un ancho máximo de 600px (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 600px) {
    
    #start-button {
        padding: 8px 20px; /* Reducir el padding para hacer el botón más pequeño en dispositivos móviles */
        font-size: 16px; /* Reducir el tamaño de la fuente */
    }
}


.puzzle-container {
    width: 80vw;
    max-width: 400px;
    height: 80vw;
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    background-color: #f0f0f0;
border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efecto de sombra blanco */
    overflow: hidden;
    margin: auto; /* Centrar horizontalmente */
}



.puzzle-piece {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    background-image: url('Designer\ -\ 2024-04-20T211548.297.jpeg'); /* Cambia 'imagen_puzzle.jpg' por la ruta de tu imagen de rompecabezas */
    background-size: 300% 300%;
    transition: background-position 0.5s ease;
    cursor: pointer;
    
}
.puzzle-piece1 {
    width: calc(100% -  0px); /* Ajustar el tamaño para incluir el ancho del borde */
    height: calc(100% -  0px); /* Ajustar el tamaño para incluir el ancho del borde */
    background-image: url('Designer\ -\ 2024-04-20T212434.381.jpeg'); /* Cambia 'imagen_puzzle.jpg' por la ruta de tu imagen de rompecabezas */
    background-size: 300% 300%;
    transition: background-position 0.5s ease, transform 0.2s ease; /* Agregar transición para transformar */
    cursor: pointer;
}
.puzzle-piece2 {
    width: calc(100% -  0px); /* Ajustar el tamaño para incluir el ancho del borde */
    height: calc(100% -  0px); /* Ajustar el tamaño para incluir el ancho del borde */
    background-image: url('Designer\ -\ 2024-04-20T211540.987.jpeg'); /* Cambia 'imagen_puzzle.jpg' por la ruta de tu imagen de rompecabezas */
    background-size: 300% 300%;
    transition: background-position 0.5s ease, transform 0.2s ease; /* Agregar transición para transformar */
    cursor: pointer;
}
.puzzle-piece3 {
    width: calc(100% - 0px); /* Ajustar el tamaño para incluir el ancho del borde */
    height: calc(100% - 0px); /* Ajustar el tamaño para incluir el ancho del borde */
    background-image: url('Designer\ -\ 2024-04-21T152338.062.jpeg'); /* Cambia 'imagen_puzzle.jpg' por la ruta de tu imagen de rompecabezas */
    background-size: 300% 300%;
    transition: background-position 0.5s ease, transform 0.2s ease; /* Agregar transición para transformar */
    cursor: pointer;
}
.puzzle-piece3.selected,
.puzzle-piece2.selected,
.puzzle-piece1.selected,
.puzzle-piece.selected {
    border: 2px solid #ffffff; /* Borde verde cuando está seleccionado */
    box-shadow: 0 0 10px 2px rgba(141, 232, 123, 0.7); /* Efecto de sombra difuminada verde manzana brillante */
    transform: scale(1.1); /* Escalar la pieza seleccionada */
}


#page-container h1 {
    font-size: 3vw; /* Tamaño de fuente basado en el ancho de la ventana */
    font-weight: bold; /* Texto en negrita */
    color: #FFFFFF; /* Color del texto blanco */
    text-shadow: 0.5vw 0.5vw 1vw #000000; /* Sombra de texto negra */
    margin-top: 10px; /* Aumentar el espacio superior */
margin-bottom: 2px;
}

#message-container {
    margin-top: 2vh; /* Aumentar el espacio superior */
    font-size: 3vw; /* Tamaño de fuente basado en el ancho de la ventana */
    font-weight: bold;
    text-align: center;
    padding: 2vh;
    border-radius: 2vw; /* Bordes redondeados basados en el ancho de la ventana */
    color: white;

    transform: scale(0.9);
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}

@media screen and (max-width: 768px) {
    /* Estilos adicionales para pantallas más pequeñas */
    #page-container h1 {
        font-size: 8vw; /* Tamaño de fuente más grande para pantallas pequeñas */
        text-shadow: 1vw 1vw 2vw #000000; /* Sombra de texto más grande para pantallas pequeñas */
    }

    #message-container {
        font-size: 4vw; /* Tamaño de fuente más grande para pantallas pequeñas */
        padding: 3vw; /* Espaciado interno más grande para pantallas pequeñas */
        border-radius: 3vw; /* Bordes redondeados más grandes para pantallas pequeñas */
    }
}


  .selected {
        border: 2px solid white;
      
      
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.7);
  }
  
  @keyframes blink {
    0% { opacity: 0; } /* Invisible al principio */
    50% { opacity: 1; } /* Visible a la mitad del tiempo */
    100% { opacity: 0; } /* Invisible al final */
}

#next-button {
    float: right; /* Alinear a la derecha */
    padding: 6px 12px; /* Tamaño más pequeño */
    font-size: 15px; /* Tamaño de fuente más pequeño */
    background-color: #dddd09; /* Amarillo */
    color: rgb(0, 0, 0);
 /* Borde de 2px sólido de color gris oscuro */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer;
    margin-top: 20px; /* Espacio superior */
    animation: blink 1s infinite; /* Aplicar la animación de parpadeo */
    text-decoration: none; /* Eliminar el subrayado */
}
#next-button:hover {
    background-color: #FF0000; /* Cambio de color al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento de tamaño al pasar el mouse */
}

#next-button:focus {
    outline: none; /* Eliminar el contorno al hacer foco */
}

#anterior {
    float: left; /* Alinear a la izquierda */
    padding: 6px 12px; /* Tamaño más pequeño */
    font-size: 15px; /* Tamaño de fuente más pequeño */
    background-color: #10dd09; /* Amarillo */
    color: rgb(0, 0, 0);

    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer;
    margin-top: 20px; /* Espacio superior */
    animation: blink 1s infinite; /* Aplicar la animación de parpadeo */
    text-decoration: none; /* Eliminar el subrayado */
}

#anterior {
 
    transform: scale(1.05); /* Efecto de aumento de tamaño al pasar el mouse */
}

#anterior {
    outline: none; /* Eliminar el contorno al hacer foco */
}
/* Estilos para el contenedor del modal */
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('cataratas.jpeg'); /* Cambia 'cataratas.jpeg' por la ruta de tu imagen de fondo */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    z-index: 9999;
}
#modal-content ul,
#modal-content ol {
    list-style: none; /* Elimina las viñetas */
    padding: 0; /* Elimina el padding */
}

/* Estilos para el contenido del modal */
#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.95); /* Fondo semi-transparente blanco */
    padding: 40px; /* Aumento del espacio interno */
    border-radius: 20px; /* Borde redondeado */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    text-align: center; /* Centrar el contenido del modal */
    font-family: 'Press Start 2P', cursive; /* Fuente de estilo de videojuego */
    color: #333; /* Color de texto */
font-size: 20px; /* Tamaño de la fuente */
    line-height: 1.5; /* Altura de línea */
}
/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    #modal-content {
        
        font-size: 14px; /* Reducción del tamaño de la fuente para que quepa mejor en pantallas móviles */
        
    }
    #modal-content {
        width: 80%; /* Ancho del modal al 80% del ancho de la pantalla */
        height: 80%; /* Altura del modal al 80% de la altura de la pantalla */
       
        padding: 20px; /* Ajustar el padding del modal para mantener el espacio interior */
        overflow: auto; /* Añadir desplazamiento si el contenido es más grande que el modal */
    }
}

  
  /* Animación de giro de colores */
  @keyframes giraBrillos {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
